
body{
    background-color:black
}
form{
    background-color: white;
    margin-top: 80px;
    padding:10px;
    border-radius: 3px;
    width: 100%;
}
p{font-size: 15px;
    
}
button[type="submit"]
{
    margin-top:10px;
}
